<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0">VANDBT
        <span class="text-primary"></span>
      </h1>
      <div class="subheading mb-5">-
        <a href="mailto:sharkspin@gmail.com">sharkspin@gmail.com</a>
      </div>
      <p class="mb-5">Full Statck 개발자로서 아키텍처, 프레임워크 분석/설계, 웹서비스 개발 및 콘텐츠 서비스와 소셜 미디어, e-커머스등 다양한 도메인의 지식과 경험을 가지고 있습니다.</p>
      <p class="mb-5">AI, ML 분야도 흥미가 있으며, 기술의 실용적 적용에 매우 관심이 많습니다.</p>
      <ul class="list-inline list-social-icons mb-0">
        <li class="list-inline-item">
          <a href="https://twitter.com/vandbt" data-toggle="tooltip" data-placement="top" title="meet at twitter!" >
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/vandbt" data-toggle="tooltip" data-placement="top" title="visit my github">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://gist.github.com/vandbt" data-toggle="tooltip" data-placement="top" title="visit my gist">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
      <br />
      <p class="mb-5"><a href="https://github.com/vandbt/typescript-datastructure"> See github: Typescript Data Structure.</a></p>
      <p class="mb-5">NOTE: This page built by Angular 5 + bootstrap.</p>
    </div>
  </section>