<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        Typescript, Javascript, HTML5, CSS, C#.NET</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Angular, AngularJS, jQuery, gulp</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Node, Express, ASP.NET, AWS</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        MongoDB, MS SQL Server , SQL Query, Entity Framework, DB 모델링</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Git, Bitbucket, SVN, CI (Travis CI, Jenkins), Docker, Elasticsearch</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        CodeBeamer ALM, Jira, Confluence, Redmine</li>
    </ul>

    <div class="subheading mb-3"></div>

    <div class="subheading mb-3">Knowledge</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        비즈니스 도메인 분석, 아키텍처 설계, 어플리케이션 프레임워크 설계 능력</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        TDD, BDD, OOP, 도메인드리븐디자인, 엔터프라이즈 아키텍처 설계</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        소셜네트워크, 웹서비스, e-Commerce, 지식 정보 서비스 기반 지식</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Agile Development</li>
    </ul>
  </div>
</section>
