
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>
  
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h4 class="mb-0">Project Lead - Full Stack Developer</h4>
              <div class="project-summary"></div>
              
              <div class="project-summary">Web Front-End SPA with Angular.js (HTML5, CSS3, JS ES5, Typescript, Angular, AngularJS, jQuery, REST API)</div>
              <div class="project-summary">Web Front-End SPA with Plain Old Javascript Object (HTML5, CSS3, JS ES5, jQuery, REST API, JSON-RPC)</div>
              <p>Package and Env: Node.js, gulp, npm, bower, etc</p>
              <p>개발방법론: 애자일, Object-Oriednted Programming(OOP), Behavior-Driven Development(BDD), Test-Driven Development(TDD)</p>
              <p>Modular Design: Config based Product Lines.</p>
              <p>Testability: Unit Testing, E2E Testing, Code Coverage.</p>
              <p>Co-Operating: git, gerrit, Jira, Confluence, Code Beamer ALM.</p>
              <p>Manage Offshore develompent team.</p>
              <p>Do many PoC projects, Review RPP. </p>
              <p></p>
              <div class="project-summary">ACS(<a href="https://en.wikipedia.org/wiki/TR-069#Communication" target="_blank">Auto Configuration Server</a> - Manage distributed CPE devices) Web Front-End SPA with Angular v4</div>
              <p>Design Front-End work with ACS RESTFul API.</p>
              <p></p>
              <div class="project-summary">Web Based TV Application : using <a href="http://enyojs.com/" target="_blank">enyo and moonstone</a></div>
              <p>SPA TV Application Top of the <a href="https://wiki.rdkcentral.com/display/RDK/Overview" target="_blank">RDK-V</a> device (QT/Webkit browser)</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2014 - Present</span>
            </div>
          </div>
  
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h4 class="mb-0">Full Stack Developer</h4>
              <div class="project-summary"></div>
              <div class="project-summary">Web Application for TV (for Remote Controller 4-Way direction)</div>
              <p>Develop Portal / App store for TV.</p>
              <p>Develop Open API applications: Youtube, Facebook, Twitter, Flickr, Picasa and B2B contracted applications.</p>
              <p>Front-End: Web Single-Page Application (HTML5, CSS3, JS ES5, jQuery, REST API)</p>
              <p>Back-End: ASP.NET MVC, C#.NET (provide REST API, manage Database)</p>
              <p>Tech : OAuth, Ajax, C#.NET, ASP.NET MVC, MS-SQL, IIS, MS Azure</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2011 - December 2013</span>
            </div>
          </div>
  
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h4 class="mb-0">Full Stack Developer</h4>
              <div class="project-summary"></div>
              <div class="project-summary">Blog Meta, Content Distribution service</div>
              <p>Mobile web with jQuery Mobile.</p>
              <p>ASP.NET MVC (HTML5, CSS3, JS ES5, jQuery, REST API)</p>
              <p>Tech : OAuth, Ajax, RSS, C#.NET, ASP.NET, MS-SQL, IIS</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">July 2010 - December 2011</span>
            </div>
          </div>
  
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h4 class="mb-0">Web Developer</h4>
              <div class="project-summary"></div>
              <div class="project-summary">Video/Photo Content Distribution service</div>
              <p>Distribute Video/Photo streaming, Manage Media files, tracking logs.</p>
              <p>Handle Large transactions, operating Server-farm</p>
              <p>ASP.NET MVC (HTML, CSS, JS ES5, jQuery, REST API)</p>
              <p>Tech : Ajax, RSS, C#.NET, ASP.NET, PHP, MS-SQL, MySQL, IIS</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Feb 2007 - June 2010</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                <h4 class="mb-0">Web Developer</h4>
                <div class="project-summary"></div>
                <div class="project-summary">Online-Commerce service</div>
                <p>Develop shopping web site, Inventory management system, payments system, CRM</p>
                <p>Tech : Active-Server Page(ASP), VB Script, HTML, Javascript, C#.NET, ASP.NET, MS-SQL, IIS</p>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">Jan 2004 - Jan 2007</span>
              </div>
            </div>
  
        </div>
  
      </section>