
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>
  
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Senior Web Developer</h3>
              <div class="subheading mb-3">-</div>
              <p>Web Front-End Single-Page Application with Angular (HTML5, CSS3, JS ES5, Typescript, Angular, AngularJS, jQuery, Restful API)</p>
              <p>Web Front-End Single-Page Application with Plain Old Javascript Object (HTML5, CSS3, JS ES5, JQuery, Restful API, JSON-RPC)</p>
              <p>Package and Env: Node.js, gulp, npm, bower, etc</p>
              <p>개발방법론: 애자일, Object-Oriednted Programming(OOP), Behavior-Driven Development(BDD), Test-Driven Development(TDD)</p>
              <p>Modular Design: Config based Product Lines.</p>
              <p>Testability: Unit Testing, E2E Testing, Code Coverage.</p>
              <p>Co-Operating: git, gerrit, Jira, Confluence, Code Beamer ALM.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2014 - Present</span>
            </div>
          </div>
  
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Web Developer</h3>
              <div class="subheading mb-3">-</div>
              <p>Web Application for TV (for Remote Controller 4-Way direction)</p>
              <p>Web FullStack</p>
              <p>Web Single-Page Application with ASP.NET MVC (HTML5, CSS3, JS ES5, jQuery, Restful API)</p>
              <p>Develop Open API applications: Youtube, Facebook, Twitter, Flickr, Picasa, etc.</p>
              <p>Tech : OAuth, Ajax, C#.NET, ASP.NET MVC, MS-SQL, IIS, MS Azure</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2011 - December 2013</span>
            </div>
          </div>
  
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Web Developer</h3>
              <div class="subheading mb-3">-</div>
              <p>Develop: Blog Meta, Content Distribution service</p>
              <p>ASP.NET MVC (HTML5, CSS3, JS ES5, jQuery, Restful API)</p>
              <p>Tech : OAuth, Ajax, RSS, C#.NET, ASP.NET, MS-SQL, IIS</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">July 2010 - December 2011</span>
            </div>
          </div>
  
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Web Developer</h3>
              <div class="subheading mb-3">-</div>
              <p>Develop: Video/Photo Content Distribution service</p>
              <p>ASP.NET MVC (HTML, CSS, JS ES5, jQuery, Restful API)</p>
              <p>Tech : Ajax, RSS, C#.NET, ASP.NET, MS-SQL, IIS</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Feb 2007 - June 2010</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Web Developer</h3>
                <div class="subheading mb-3">-</div>
                <p>Develop: e-Commerce service</p>
                <p>Tech : Active-Server Page(ASP), VB Script, HTML, Javascriptk, C#.NET, ASP.NET, MS-SQL, IIS</p>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">Jan 2004 - Jan 2007</span>
              </div>
            </div>
  
        </div>
  
      </section>